body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#work-exp{
    height: 200vh;
    overflow: hidden;
}

#work-exp .mother-exp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#work-exp .mother-exp .child-exp{
    height: 30%;
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

#work-exp .mother-exp .child-exp h3{
    text-align: center;
    height: 10%;
    margin: 10px 0;
}

#work-exp .mother-exp .child-exp .child2{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#work-exp .mother-exp .child-exp .child2 .child3{
    height: 100%;
    width: 30%;
}

#referees{
    height: 80vh;
    width: 80%;
    margin: 40px auto;
    border-radius: 30px;
    background: #000;
}